:root{
    --primaryorange:hsl(31, 77%, 52%);
    --primarycyan:hsl(184, 100%, 22%);
    --primarydarkcyan:hsl(179, 100%, 13%);
    --neutralwhite: hsla(0, 0%, 100%, 0.75);
    --gray:hsl(0, 0%, 95%);
    --principalfont: 'Big Shoulders Display', cursive;
    --secondfont: 'Lexend Deca', sans-serif;
}
body{
margin: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
font-family: var(--secondfont);
color: var(--gray);
}

h2{
    font-family: var(--principalfont);
    font-size: 2.5em;
    text-transform: uppercase;
}
button{
    display: flex;
    margin-top: 60px;
    border: none;
    background-color: var(--gray);
    border: solid 3px white;
    border-radius: 30px;
    padding: 20px;
    height: 30px;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: var(--primaryorange);
    font-size: 1em;   
}
button:hover{
    background-color: rgba(255, 0, 0, 0);
    color: white;
    transition: 0.8s;
}
.botondos{
color: var(--primarycyan);
}
.botontres{
    color: var(--primarydarkcyan);
}


.contenedor{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 470px;

}
.firstcontent,.secondcontent,.thirdcontent{
    padding: 50px;
}
.firstcontent{
    background-color: var(--primaryorange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.secondcontent{
    background-color: var(--primarycyan);
}
.thirdcontent{
    background-color: var(--primarydarkcyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 768px) {
 .contenedor{
    grid-template-columns: 80%;
    grid-template-rows: 100px;
 }

} 

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */