body{
    background-color: hsl(30, 38%, 92%);
    
}
:root{
    --fuenteprincipal: 'Fraunces', serif;

    --fuentesecundaria: 'Montserrat', sans-serif;
    --colorperrafo: hsl(228, 12%, 48%);
    --colorfondo: hsl(0, 0%, 100%);
    --colorprecio: hsl(158, 36%, 37%);
    --colortitulo: hsl(212, 21%, 14%); 
    --colorblanco: hsl(0, 0%, 100%);
    --colorhover: hsl(158, 100%, 13%);
}
h1{
    font-family: var(--fuenteprincipal);
    color: var(--colortitulo);
    font-size:2.5em;
    line-height: 40px;
}
img{
    width: auto;
    height: 100%;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}
svg{
    padding-right: 0.8em;
}


.contenedor{
display: flex;
justify-content: center;
align-items: center;


}
.contenido {
    display: flex;
    width: 700px;
    height: 500px;
    background-color: var(--colorfondo);
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}
.precios, span, p{
    font-family: var(--fuentesecundaria);
    color: var(--colorperrafo);
}
.textomain{
    letter-spacing: 1px;
    text-decoration: none;
    width: 270px;
    font-size: 0.9em;
    line-height: 25px;
}

.texto{
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.precios{
    font-size: 2.5em;
    color: var(--colorprecio);
    font-family: var(--fuenteprincipal);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.descuento{
    display: inline-block;
    font-size: 18px;
    text-decoration: line-through;
    padding: 1em;
}
.perfume{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.carrito{
 margin-top: 1.5em; 
font-family: var(--fuentesecundaria);
padding-top: 1rem;
padding-bottom: 1rem;
padding-right: 5rem;
padding-left: 5rem;
background-color: var(--colorprecio);
border-radius: 10px;
color: var(--colorblanco);
display: flex;
align-items: center;
border: none;
transition-duration: 0.4s;
font-size: 14.1px;


}
.carrito:hover{
    background-color: var(--colorhover);
}

.flexcarrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary


- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/